
  <div class="ui">
    <div class="container">
      <h4><b>Travel Planner </b> </h4>

<!-- Uses MatForm from angular to create dropdown with values as city.name-->
<div class="matForm">
<mat-form-field appearance="fill">
  <mat-label>Select your city</mat-label>
  <mat-select [(value)]="selectedCity">
    <mat-option *ngFor="let item of city" [value]="item">
      {{item.name}}
      {{updateWeatherAndDescription()}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>


<!-- Description is linked with city.description, which gets changes when value is selected from dropdown-->
<div class="description">
  {{description}}
</div>

<!-- weather is linked with city.weather, which gets changes when value is selected from dropdown-->
<div class="weather">
  {{weather}}
</div>
</div>
